$app-blue-color-1: #035A78;
$app-blue-color-2: #2C7CA5;
$app-red-color:    #C91C1C;
$app-green-color:  #51937D;
$app-yellow-color: #F9BD07;
$app-light-grey:   #979797;
$app-blue-color-3: #1b6985;
// p{
//     background-color: red;
// }
