body{
    background-color: whitesmoke;

}

.connexion {
    font-weight: 400;
    border: 0;
    box-shadow: 0 2px 5px 0 #0B84FF, 0 2px 10px 0 #ffff;
    width: 50px;
    margin-top: 8rem;
    margin-left: 2rem;
}
