
.row{
    margin-right: 15%;
    margin-left: 15%;
   // border: 0.1px solid black;
}
div.row{
    border: 1px solid #ced4da;

}
.wesh{
    margin-right: 15%;
    margin-left: 15%;
   // border: 0.1px solid black;  
 //   border: 1px solid #ced4da;  
}
h4{
    margin-right: 58%;
    margin-top: 5%;
}

h1{
    color:grey;
    text-align: left;
    font-size:x-large;
    font-style:italic;
    font-weight:bold;
    font-size: 25px; 
}
.form-control{
    width: 87%;
    margin-top:1.5%;

}
.form-control2{
    height: 32%;
    margin-top: 3%;
}
label{
    margin-top: 0.5%;
    margin-right: 2%;
}
input.form-control{
    padding-left: 3%;
    margin-left:6%;
    width: 86%;
}
.form-control1{
    width: 34%;
}
input.form-control1{
    margin-left: 29%;
    width: 14%;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
  //  border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-top: 3%;
}
div.row{

    width: 85%;
    margin-left: 15%;
   border-radius: .20rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
  //  border: 1px solid #ced4da;
    height: calc(7.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
.push{
    margin-left: -10%;
    width: 126%;
}
.fin{
    margin-left: -16%;   
    margin-top: -3.39%;
    width: 84%;

}
input.form-controlTel{
    width: 53%;
    margin-left: -15%;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
  //  border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
input.form-controlNais{
    border-radius: .25rem;
    margin-left: -15.5%;
    width: 53%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
 //   border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
}
input.form-controlForm{
    border-radius: .25rem;
    width: 35%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
 //   border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-left: -31%;
}
input.form-controlPost{
    border-radius: .25rem;
    width: 39%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
 //   border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-right: -29%;
    margin-left: 12%;
}
input.form-controllien{
    border-radius: .25rem;
    width: 39%;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    font-weight: 400;
    background-clip: padding-box;
  //  border: 1px solid #ced4da;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    margin-right: -45%;
}
.btn-block{
    width: 25%;
}
.form-control{
    width: 57%;
}
button.btn.btn-block.btn-primary{
    width: 17%;
    margin-bottom: 4.3%;
    margin-left: 61%;
}
button.btn.btn-block.btn-primary1{
    margin-top: -8.5%;
    margin-left: 85%;
    margin-bottom: 4.3%;
    background-color: rgb(160, 4, 4);
    width: 17%;
}
button.btn.btn-block.btn-primary3{
    margin-top: -7%;
    margin-left: -3%;
    width: 13%;
    cursos: pointer;
}
.bouton{
    margin-bottom: -7%;
    margin-top: 3%;
}
.body{
   width: 100%;
}
main{
    text-align: center;
}
form{
    width: 82%;
    margin-left: 8%;
}
img.img-thumbnail{
  
  background-repeat: no-repeat;
  width: 80px;
    height: 103px;
    padding: 0;
   
}
.form-controlePremier{
    height: 30%;
    margin-left: 33%;
    margin-top: 4.5%;
}
.form-controleDeux{
    height: 30%;
    margin-top: 4.5%;
}
.button{
    margin-top: -8.5%;
    margin-left: 18%;
    margin-bottom: 14%;
    background-color: rgb(160, 4, 4);
}

.input{
font-size: 20px; 
}

input.form-outline{
    font-size: 1rem;  
}

.btn.blue-gradient{
    color:white;
    margin-bottom: 50px;

}

#zonetexte{
    font-size: 30px;
}
